<div class="row">
	<h1 class="center">Epicodus Q & A</h1>
</div>
<div class="row">
  <div class="header-panel">
    <div class="row">
      <div class="large-3 small-5 columns">
        <p class="lead header-left"> This is a question and answer site for student's of Epicodus. Here's how it works:</p>
      </div>
      <div class="large-9 small-7 columns">
        <div class="large-4 small-12 columns">
          <h1 class="center"><i class="fia-question icon-large"></i></h1>
          <p class="lead">A student asks a question.</p>
        </div>
        <div class="large-4 small-12 columns">
          <h1 class="center"><i class="fi-idea icon-large"></i></h1>
          <p class="lead">Other students answer.</p>
        </div>
        <div class="large-4 small-12 columns">
          <h1 class="center"><i class="fis-thumb-up icon-large"></i></h1>
          <p class="lead">The best answers are voted up.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  
</div>
<div class="row">
  <div class="small-4 columns">
    <%= link_to "Ask a question", new_question_path, class: "button" %>
  </div>
  <div class="large-2 large-offset-6  small-5 columns">
    <h5><%= foundation_paginate @questions %></h5>
  </div>
</div>
<div class='row'>
  <ul class="no-bullet">
    <% @questions.each do |question| %>
      <li>
        <hr>
        <div class="row">
          <div class="large-2 small-offset-1 small-3 columns">
            <h3 class="subheader"><%= pluralize(question.answers.count, "Answer") %><h3>
          </div>
          <div class="large-9 small-8 columns">
            <div class="row">
              <h4 class="subheader"><%= link_to question.title, question_path(question) %></h4>
            </div>
            <div class="row">
              <p><%= question.user.email %> <%= question.created_at.strftime("Asked on %A %B %-d at %I:%m") %></p>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
<div class="row">
  <h5><%= foundation_paginate @questions %></h5>
</div>



