<h1><%= @question.title %></h1>

<p><%= @question.content %></p>

<p>Asked by <%= @question.user.email %></p>
<p>at: <%= @question.created_at.strftime("Asked on %A %B %-d at %I:%m") %></p>

<p><%= link_to "Comment", new_comment_path(commentable_id: @question.id, commentable_type: "Question"), id: "question-comment-button", class: "comment-button", remote: true %></p>  

<section id="question-comment-list" class="comments">
  <% @question.comments.each do |comment| %>
    <p><%= comment.content %></p>
    <p>Posted by <%= comment.user.email %>
                 <%= comment.created_at.strftime("Posted on %A %B %-d at %I:%m") %> 
    </p>
  <% end %>
</section>

<%= link_to "Answer",
            new_answer_path(question_id: @question.id),
            id: "answer-button",
            class: "button",
            remote: true %>

<div id="form"></div>
<section id="answer-list" class="answers">
  <% @question.answers.each do |answer| %>
    <p><%= answer.content %></p>
    <p>
      Answered by <%= answer.user.email %> <%= answer.created_at.strftime("Answered on %A %B %-d at %I:%m") %> 
    </p>
    <p><%= link_to 'Upvote', votes_path(vote: {answer_id: answer.id}), method: 'post', class: "button" %> Number of votes: <%= answer.votes.count %>
    </p>  
    <p><%= link_to "Comment", new_comment_path(commentable_id: answer.id, commentable_type: "Answer"), class: "comment-button", remote: true %></p> 
    
    <section id="answer-comment-list-<%= answer.id %>" class="comments">
      <% answer.comments.each do |comment| %>
        <p><%= comment.content %></p>
        <p>
          Posted by <%= comment.user.email %> <%= comment.created_at.strftime("Posted on %A %B %-d at %I:%m") %> 
        </p>
      <% end %>
    </section>

  <% end %>

</section>